language: php

php:
  - 5.3
  - 5.4

env:
  - NUODB_ROOT=/opt/nuodb NUODB_INCLUDE_DIR=/opt/nuodb/include NUODB_LIB_DIR=/opt/nuodb/lib64

notifications:
  recipients:
    - buck.robert.j@gmail.com
    - rbuck@nuodb.com
    - tgates@nuodb.com

before_install:
  - uname -a
  - phpenv versions
  - cat /etc/debian_version
  - ls -al `php-config --extension-dir`
  - wget -q http://www.nuodb.com/latest/releases/nuodb-2.0.linux.x64.deb --output-document=/var/tmp/nuodb.deb
  - sudo dpkg -i /var/tmp/nuodb.deb
  - ${NUODB_ROOT}/bin/nuodbmgr --broker localhost --password bird --command "start process sm host localhost database test archive /var/tmp/nuodb initialize true"
  - ${NUODB_ROOT}/bin/nuodbmgr --broker localhost --password bird --command "start process te host localhost database test options '--dba-user dba --dba-password dba'"
  - ${NUODB_ROOT}/bin/nuosql test@localhost --user dba --password dba < create_user_cloud.sql

install:
  - true

script:
  - export PHP_INCLUDE_DIR=$(php-config --include-dir)
  - cmake -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=RelWithDebInfo
  - make
  - echo "extension=pdo_nuodb.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - sudo cp pdo_nuodb.so `php-config --extension-dir`
  - phpunit tests

after_failure:
  - cat tests/*.log
