language: php

php:
  - 5.3
  - 5.4
  - 5.5

env:
  - NUOVERSION=2.0.4.24 NUODB_ADD_DOMAIN_PASS=no NUODB_START_AGENT=no
  - NUOVERSION=2.1.1.10 NUODB_ADD_DOMAIN_PASS=yes NUODB_START_AGENT=yes
  - NUOVERSION=2.2.0.9 NUODB_ADD_DOMAIN_PASS=yes NUODB_START_AGENT=yes
  - NUOVERSION=2.3.1.0 NUODB_ADD_DOMAIN_PASS=yes NUODB_START_AGENT=yes

notifications:
  recipients:
    - tgates@nuodb.com

before_install:
  - uname -a
  - phpenv versions
  - export NUODB_ROOT=/opt/nuodb
  - export NUODB_INCLUDE_DIR=/opt/nuodb/include
  - export NUODB_LIB_DIR=/opt/nuodb/lib64
  - cat /etc/debian_version
  - sudo apt-get update
  - sudo apt-get install valgrind
  - ls -al `php-config --extension-dir`
  - wget -q http://download.nuohub.org/nuodb_${NUOVERSION}_amd64.deb --output-document=/var/tmp/nuodb.deb
  - sudo dpkg -i /var/tmp/nuodb.deb
  - sleep 5
  - if [[ "${NUODB_ADD_DOMAIN_PASS}" == "yes" ]] ; then sudo chmod 777 $NUODB_ROOT/etc/default.properties; echo "domainPassword = bird" >> $NUODB_ROOT/etc/default.properties; sudo chmod 600 $NUODB_ROOT/etc/default.properties; fi
  - if [[ "${NUODB_START_AGENT}" == "yes" ]]; then sudo service nuoagent start; fi
  - ${NUODB_ROOT}/bin/nuodbmgr --broker localhost --password bird --command "start process sm host localhost database test archive /var/tmp/nuodb initialize true"
  - ${NUODB_ROOT}/bin/nuodbmgr --broker localhost --password bird --command "start process te host localhost database test options '--dba-user dba --dba-password dba'"
  - ${NUODB_ROOT}/bin/nuosql test@localhost --user dba --password dba < create_user_cloud.sql

install:
  - true

script:
  - php -i
  - export PHP_INCLUDE_DIR=$(php-config --include-dir)
  - export TEST_PHP_EXECUTABLE=$(php-config --php-binary)
  - export REPORT_EXIT_STATUS=1
  - phpize --clean
  - phpize
  - ./configure --with-pdo-nuodb
  - make clean
  - make
  - echo "extension=pdo_nuodb.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - make install
  - php run-test.php -m tests/*.phpt
  - php tests-performance/*.php

after_failure:
  - cat tests/*.out
